ody {
    height: 100vh;
    display: flex;
    justify-content: center; /* จัดตรงกลางแนวนอน */
    align-items: center; /* จัดตรงกลางแนวตั้ง */
    margin: 0;
    background-repeat: no-repeat;
}

/* กล่องครอบ Profile Cards */
.container {
    display: flex;
    gap: 20vh; /* ระยะห่างระหว่างการ์ด */
}


/* สไตล์ของโปรไฟล์การ์ด */
.profile-card {
    background: white;
    padding: 20px;
    border-radius: 50px;
    height: auto;
    max-width: 350px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.306);
    text-align: center;
    width: 100%;
    margin: 20px auto;
    transition: all 0.3s ease;
}


/* ปรับสไตล์ของรูปโปรไฟล์ */
.profile-card img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease;
}
.profile-card img:hover{
    transform: scale(1.2);
}
@media (max-width: 768px) {
    .profile-card {
        width: 90%;    /* Adjust card width for tablets */
        padding: 20px; /* Reduce padding for tablets */
        height: auto;  /* Adjust height for responsiveness */
    }

    .profile-card img {
        height: 50%;   /* Adjust image size for smaller screens */
    }
    .container{
        gap: 15vh;
    }
}

@media (max-width: 480px) {
    .profile-card {
        width: 95%;    /* Adjust width for mobile screens */
        padding: 15px; /* Further reduce padding on mobile */
    }

    .profile-card img {
        height: 40%;   /* Adjust image size for mobile screens */
    }
    .container{
        gap: 10vh;
    }
}
h2{
    font-size: 2rem;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}
p{
    font-size: 1rem;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
}
